<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Points Viewer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				background-color: #000000;
				margin: 0px;
				overflow: hidden;
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				font-weight: bold;
				text-align:center;
			}

			a {
				color:#0078ff;
			}

			#info {
				color:#fff;
				position: absolute;
				top: 0px;
				width: 100%;
				padding: 5px;
			}

		</style>
	</head>
	<body>

		<!-- <div id="info">
			<a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> - webgl particle billboards example
		</div> -->

		<script src="js/three.js"></script>
		<script src="js/palette.js"></script>
		<script src="js/THREE.MeshLine.js"></script>
		<script src="js/THREE.TextTexture.js"></script>
		<script src="js/THREE.TextSprite.js"></script>
		<!-- <script src="https://unpkg.com/three.texttexture"></script>
		<script src="https://unpkg.com/three.textsprite"></script> -->

		<script src="js/WebGL.js"></script>
		<script src="js/TrackballControls.js"></script>
		<script src="js/OrbitControls.js"></script>

		<script src="js/libs/stats.min.js"></script>
		<script src="js/libs/dat.gui.min.js"></script>

		<script>

			if ( WEBGL.isWebGLAvailable() === false ) {

				document.body.appendChild( WEBGL.getWebGLErrorMessage() );

			}

			var camera, scene, renderer, stats, material, controls;
			var mouseX = 0, mouseY = 0;

			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;

			var Params = function() {
				this.step = 0;
				this.embeddings = false;
				this.embeddingsNorm = true;
				this.kernel = false;
				this.kernelNorm= true;
				this.scheme = 'tol';
				this.dataset = '/data/data.json';
				this.dataset_index = 0;
				// this.datasets = ['/data/data.json', '/data/data_2.json']
				this.datasets = {{ datasets|safe }}


			};

			var params = new Params();
			params.datasets_names = {};

			
			
			
			

			


			var gui = new dat.GUI();

			gui.add( params, 'embeddingsNorm').name("emb norm").onFinishChange(function() {
				clear_scene(scene);
				load_step(data[Math.floor(params.step)], scene, params);
			});

			gui.add( params, 'embeddings').name("emb").onFinishChange(function() {
				clear_scene(scene);
				load_step(data[Math.floor(params.step)], scene, params);
			});

			gui.add( params, 'kernelNorm').name("k norm").onFinishChange(function() {
				clear_scene(scene);
				load_step(data[Math.floor(params.step)], scene, params);
			});

			gui.add( params, 'kernel').name("k").onFinishChange(function() {
				clear_scene(scene);
				load_step(data[Math.floor(params.step)], scene, params);
			});
			
			gui.add( params, 'scheme').onFinishChange(function() {
				clear_scene(scene);
				load_step(data[Math.floor(params.step)], scene, params);
			});

			if (params.datasets.length == 0) {
				gui.add( params, 'dataset_index', {'no data found':0})
			} else {
				for (var i = 0; i < params.datasets.length; i++) {
					item = params.datasets[i].split('/');
					item = item[item.length - 1];
					params.datasets_names[item] = i; 
				}
			}

			gui.open();

			init(params);
			animate();

			load(params);

			function load(params) {

				if (params.datasets.length == 0) {
					return;
				}

				var xhr = new XMLHttpRequest();



				xhr.onload = function (e) {

					data = JSON.parse(xhr.responseText)['data'];

					for ( var i = 0; i < data.length; i++ ) {
						item = data[i];

						item['embeddings_norm'] = normalize_matrix(item['embeddings']);
						item['kernel_norm'] = normalize_matrix(item['kernel']);
					}

					

					var steps = data.length - 1;
					var current_step = params.step;

					step_item = gui.add( params, 'step' , 0, steps).onChange( function () {
						
						var new_step = Math.floor(params.step);

						if (new_step != current_step) {
							current_step = new_step;

							clear_scene(scene);
							load_step(data[current_step], scene, params);
						}

						
					} );

					ds_item = gui.add( params, 'dataset_index', params.datasets_names).name('run').onFinishChange(function() {
					// ds_item = gui.add( params, 'dataset').onFinishChange(function() {
						clear_scene(scene);

						gui.remove(step_item);
						gui.remove(ds_item);

						params.step = 0;

						load(params);
					});

					load_step(data[params.step], scene, params);
				};
				
				xhr.open("GET", params.datasets[params.dataset_index], true);
				xhr.send(null);
			}

			

			// function 
			function clear_scene(scene) {
				while(scene.children.length > 0){ 
					scene.remove(scene.children[0]); 
				}
			}

			function to_rgb(hex, color){
				r = parseInt(hex.substring(0,2), 16)/255;
				g = parseInt(hex.substring(2,4), 16)/255;
				b = parseInt(hex.substring(4,6), 16)/255;

				// result = 'rgba('+r+','+g+','+b+','+opacity/100+')';
				color.setRGB( r, g, b );
			}

			function norm(p) {
				return Math.sqrt(p[0]*p[0] + p[1]*p[1] + p[2]*p[2]);
			}

			function normalize_matrix(data) {
				num_pts = data.length;
				data_norm = [];

				for ( var i = 0; i < num_pts; i++ ) {
					p = data[i];
					n = norm(p);

					data_norm.push([p[0]/n, p[1]/n, p[2]/n]);

				} 

				return data_norm;
			}

			// function color_for_class(class, num_classes) {
				
			// }

			function load_step(step_data, scene, params) {

				var num_cls = step_data['kernel'].length;

				var scheme = palette(params.scheme, num_cls);

				var sprite = new THREE.TextureLoader().load( 'textures/sprites/circle.png' );

				var geometry = new THREE.BufferGeometry();

				var positions = [];
				var colors = [];
				var color = new THREE.Color();

				var num_pts = step_data['embeddings_norm'].length

				// embeddings
				for ( var i = 0; i < num_pts; i ++ ) {
					to_rgb(scheme[step_data['classes'][i]], color);

					if (params.embeddingsNorm) {
						p = step_data['embeddings_norm'][i];

						var x = p[0];
						var y = p[1];
						var z = p[2];
						positions.push( x, y, z );
						
						colors.push( color.r, color.g, color.b );
					}

					if (params.embeddings) {
						p = step_data['embeddings'][i];

						var x = p[0];
						var y = p[1];
						var z = p[2];
						positions.push( x, y, z );
						
						colors.push( color.r, color.g, color.b );
					}
				}
				
				geometry.addAttribute( 'position', new THREE.Float32BufferAttribute( positions, 3 ) );
				geometry.addAttribute( 'color', new THREE.Float32BufferAttribute( colors, 3 ) );
				geometry.computeBoundingSphere();

				var material = new THREE.PointsMaterial( { size: 0.1, vertexColors: THREE.VertexColors, map: sprite, alphaTest: 0.5 } );
				points = new THREE.Points( geometry, material );
				scene.add( points );

				var geometry = new THREE.BufferGeometry();

				var positions = [];
				var colors = [];
				var color = new THREE.Color();

				var lines = [];

				// kernels
				for ( var i = 0; i < num_cls; i ++ ) {
					
					to_rgb(scheme[i], color);

					if (params.kernelNorm) {
						var x = step_data['kernel_norm'][i][0];
						var y = step_data['kernel_norm'][i][1];
						var z = step_data['kernel_norm'][i][2];

						positions.push( x, y, z );
						
						colors.push( color.r, color.g, color.b );
						
						// create a line
						// var line_material = new THREE.LineBasicMaterial( { color: color, linewidth: 5} );
						// console.log(color);
						var line_color = new THREE.Color();
						to_rgb(scheme[i], line_color);
						var line_material = new MeshLineMaterial({color: line_color, lineWidth: 0.01});
						
						var line_geometry = new THREE.Geometry();
						line_geometry.vertices.push(new THREE.Vector3( 0, 0, 0) );
						line_geometry.vertices.push(new THREE.Vector3( x, y, z) );

						// var line = new THREE.Line( line_geometry, line_material );
						var line = new MeshLine();
						line.setGeometry( line_geometry );

						var mesh = new THREE.Mesh( line.geometry, line_material );

						// lines.push(mesh);
						scene.add(mesh);


						let text_sprite = new THREE.TextSprite({
							textSize: 0.1,
							texture: {
								text: ''+i,
								fontFamily: 'Arial, Helvetica, sans-serif',
							},
							material: {color: line_color},
						});

						text_sprite.position
							.setX(x* 1.)
							.setY(y + 0.1)
							.setZ(z* 1.);
						scene.add(text_sprite);
						
					}

					if (params.kernel) {
						var x = step_data['kernel'][i][0];
						var y = step_data['kernel'][i][1];
						var z = step_data['kernel'][i][2];

						positions.push( x, y, z );
						
						colors.push( color.r, color.g, color.b );
					}
				}

				

				geometry.addAttribute( 'position', new THREE.Float32BufferAttribute( positions, 3 ) );
				geometry.addAttribute( 'color', new THREE.Float32BufferAttribute( colors, 3 ) );
				geometry.computeBoundingSphere();

				var material = new THREE.PointsMaterial( { size: 0.2, vertexColors: THREE.VertexColors, map: sprite, alphaTest: 0.5 } );
				points = new THREE.Points( geometry, material );
				scene.add( points );


				var axesHelper = new THREE.AxesHelper( 5 );
				scene.add( axesHelper );

				// for ( var i = 0; i < lines.length; i++ ) {
				// 	scene.add( lines[i] );
				// }

				
			}

			function init(params) {

				camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.001, 100);
				camera.position.z = 1;

				scene = new THREE.Scene();
				scene.fog = new THREE.FogExp2( 0x000000, 0.0001);


				var size = 1;
				var divisions = 10;

				// var gridHelper = new THREE.GridHelper( size, divisions );
				// scene.add( gridHelper );

				
				//

				

				renderer = new THREE.WebGLRenderer({ antialias: false });
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				document.body.appendChild( renderer.domElement );


				controls = new THREE.OrbitControls( camera, renderer.domElement );
				//controls.addEventListener( 'change', render ); // call this only in static scenes (i.e., if there is no animation loop)
				controls.enableDamping = true; // an animation loop is required when either damping or auto-rotation are enabled
				controls.dampingFactor = 0.25;
				controls.screenSpacePanning = false;
				controls.minDistance = 0.001;
				controls.maxDistance = 500;
				controls.rotateSpeed = 0.4;
				controls.enablePan = false;
				controls.maxPolarAngle = Math.PI;
				// controls.addEventListener( 'change', render );

				//

				stats = new Stats();
				document.body.appendChild( stats.dom );

				//

				

				//

				// document.addEventListener( 'mousemove', onDocumentMouseMove, false );
				// document.addEventListener( 'touchstart', onDocumentTouchStart, false );
				// document.addEventListener( 'touchmove', onDocumentTouchMove, false );

				//

				window.addEventListener( 'resize', onWindowResize, false );

				render();
			}

			function onWindowResize() {

				windowHalfX = window.innerWidth / 2;
				windowHalfY = window.innerHeight / 2;

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

				render();

			}

			function animate() {
				requestAnimationFrame( animate );
				
				controls.update();
				
				stats.update();

				render();
			}

			function render() {
				renderer.render( scene, camera );
			}

		</script>
	</body>
</html>